.my-table {
	overflow-x: scroll;
}
table {
	width: 2000px;
	margin: 0 auto;
	border-collapse: collapse;
}
table, tr, th, td {
	border: 1px solid black;
	text-align: center;
}
thead, tfoot {
	background-color: #ada;
}
