* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#slide {
	width: 800px;
	margin: 0 auto;
	position: relative;
}
.img-slide {
	display: none;
}
.img-slide img {
	width: 800px;
	height: 550px;
}
.next, .prev {
	position: absolute;
	top: 50%;
	padding: 10px;
	background-color: #ada;
}
.prev {
	left: 0;
}
.next {
	right: 0
}
.caption {
	color: green;
	font-size: 20px;
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 10px;
}